* {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

a *
{
	text-decoration: none;
	border:none;
}

.entry a
{
	text-decoration: none;
	border:none;
}

body
{
	text-align:center;
}

br
{
	clear:left;
}

p
{
	text-indent:20px;
}

#header
{
	width:800px;
	text-align:left;
	margin: 55px auto 55px auto;
}

#header h1
{
	font-weight:100;
	letter-spacing:-0.05em;
	color:#444444;
	font:2.8em "Hoefler Text","Georgia",Georgia,serif,sans-serif;
}

#header h2
{
	font-size:1em "Hoefler Text","Georgia",Georgia,serif,sans-serif;
	font-weight:normal;
	color:#888888;
}

#header A:link,#header A:visited,#header A:active,#header A:hover
{
	color:black;
}

.entry
{
	position:relative;
	display:block;
	width:600px;
	margin: 0 auto;
	height:200px;
}

#bg-image
{
	width:100%;
	height:200px;
	position: absolute;
	display:block;
	top: 0;
	left: 0;
}

.date
{
	position:absolute;
	display:block;
	top:0.1em;
	left:0.1em;
	font-weight:800;
	line-height:1.2em;
	font:3em "Hoefler Text","Georgia",Georgia,serif,sans-serif;
	text-shadow:1px 1px 3px #666666;
	color:#fff;
	z-index:1;
}

.content
{
	position:relative;
	display:block;
	font:1.05em "Hoefler Text","Georgia",Georgia,serif,sans-serif;
	color:#888888;
	background-color:#f6f6f6;
	width:80%;
	text-align:left;
	z-index:1;
	border:none;
	/*height:0;*/
	line-height:24px;
	overflow:auto;
	margin: 2px auto;
}

.content p,.content div.p
{
	margin-bottom:20px;
}

.content_contract
{
	height:0;
}

.content_expanded0
{
	padding:10px;
	height:auto;
}

.content_expanded1
{
	border:1px solid #d9d9d9;
}

.content a.title 
{
	font-size:1.6em;
	text-indent:10px;
	display:block;
	color:#444444;
	margin-bottom:20px;
}

.content a.num_comments
{
	font-size:0.7em;
	line-height:1em;
	display:inline;
	background-color:#aaaaaa;
	color:#444444;
	width:auto;
	text-decoration:none;
}

.content a.add_comment,.content a.reload
{
	font-size:0.7em;
	line-height:1em;
	display:inline;
	background-color:#aaaaaa;
	color:#444444;
	width:auto;
	text-decoration:none;
}

.content a.edit
{
	font-size:0.7em;
	line-height:1em;
	display:inline;
	background-color:#aaaaaa;
	color:#444444;
	width:auto;
	text-decoration:none;
	float:right;
	margin-right:10px;
}

.content a.delete
{
	font-size:0.7em;
	line-height:1em;
	display:inline;
	background-color:#aaaaaa;
	color:#444444;
	width:auto;
	text-decoration:none;
	float:right;
}

.content div.comments
{
	margin-top:10px;
	font-size:0.8em;
	display:block;
}

.content div.comments .author
{
	font-weight:bold;
}

.content div.comments .comment
{
	border:1px solid #bbbbbb;
	padding:5px;
	margin:0 20px;
	background-color:#eeeeee;
}

.content div.comments p
{
	margin-bottom:0px;
}

.entry a .desc
{
	display: none;
	left:0;
	position:absolute;
	padding:10px;
	width:580px;
	background-color: #fff;
	font:0.88em "Hoefler Text","Georgia",Georgia,serif,sans-serif;
	color:#444444;
	text-align:left;
	font-weight:400;
	opacity:0.7;
	bottom:0px;
}

.entry a .desc strong
{
	display: block;
	margin-bottom: 5px;
	font-weight:bold;
}

/** Form **/
.ui-widget-content,.ui-dialog-title{font-size:62.5%;}
textarea {height:80px;}
label, input, textarea { display:block; }
label {text-align:left;}
input.text,textarea  { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }


